<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{% endblock %}</title>
			<meta charset="UTF-8">
			<link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" type="text/css" href="/css/styles.css" />
			<script data-main="/javascripts/main" src="/javascripts/vendor/require.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>